--only-binary :all

jupyter==1.0.0
matplotlib==3.0.2
pandas==0.22.0
xlrd==1.2.0
SQLAlchemy==1.2.16
psycopg2==2.7.6.1
google-api-python-client==1.7.8
google-auth-oauthlib==0.2.0
google-auth-httplib2==0.0.3
pygsheets==2.0.1
